
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-primary btn-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="pointer" (click)="addToShoppingList()">To Shopping List</a></li>
                <li><a class="pointer" [routerLink]="'edit'">Edit Recipe</a></li>
                <li><a class="pointer" (click)="delete()">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath"
             class="img-responsive"
             [class]="{'img-gray': !recipe.id}"
             width="500" height="400">
    </div>

    <div class="col-xs-12">
        <h1 [highlight-hover] ="'magenta'">{{recipe?.name}}</h1>
    </div>

    <div class="col-xs-12">
        {{recipe?.description}}
    </div>

    <div class="col-xs-12">
        <ul class="list-group">
            @for (ingredient of recipe?.ingredients || []; track $index) {
                <li class="list-group-item">{{ingredient.name}}:  {{ingredient.amount}}</li>
            }
        </ul>
    </div>
</div>
