<div class="row">
    <div class="col-xs-12">
        <form (submit)="onSaveItem(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input id="name"
                           class="form-control"
                           name="name"
                           ngModel
                           required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number"
                           id="amount"
                           class="form-control"
                           name="amount"
                           ngModel
                           required
                           [pattern]="'^\\d+\\.?\\d*$'"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!form.valid">{{editedItem ? 'Update' : 'Add'}}</button>
                  @if (editedItem) {
                    <button class="btn btn-danger" type="button" (click)="onDeleteItem()">Delete</button>
                  }
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
